html,body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(to bottom,yellow,green);
    background: -webkit-linear-gradient(to bottom, yellow, green);
    background: linear-gradient(to bottom, yellow, green);
}
.flexbox{
    display: flex;
    background: linear-gradient(to bottom, yellow, green);
}